@using GameCards.Client.Components.Card
@using GameCards.Client.Constants
@using GameCards.Shared

<div class="deck" style="@($"width:{LayoutConstants.DeckWidthRem}")">
    @for (int i = 0; i < Cards.Count; i++)
    {
        <div>
            <Card CardInfo="Cards[i]" FaceUp="ShowCardsFaceUp" style="@($"margin-right:{GetDynamicSpacing()}")"/>
        </div>
    }
</div>

@code {
    [Parameter] public List<CardStruct> Cards { get; set; } = new();
    [Parameter] public bool ShowCardsFaceUp { get; set; } = false;
    
    private string GetDynamicSpacing()
    {
        int count = Cards.Count;
        if (count <= 1) return "0rem"; // no spacing needed for 1 card

        float totalCardWidth = count * LayoutConstants.CardWidth;
        float remainingSpace = LayoutConstants.DeckWidth - totalCardWidth;
        float spacing = float.Min(remainingSpace / (count - 1), 0.125f);

        return $"{spacing}rem";
    }
}